@import '../../../assets/main.scss';

.modal {
  &__layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 10;
  }

  &__container {
    width: 330px;
    position: fixed;
    top: 50px;
    left: calc(50vw - 165px);
    z-index: 20;

    @media screen and (min-width: 992px) {
      width: 400px;
      top: 150px;
      left: calc(50vw - 200px);
    }
  }
}
